/* COLORS */

/* Primary Colors */
$primary-brand-bg: rgb(255, 204, 0);
$primary-brand-color: rgb(0, 0, 0);

$secundary-brand-color: rgb(255,255,255);






$hover-bg: rgba(182, 173, 10, 0.847);
$hover-tx: rgba(0,0,0,.8);

/* Secundary Colors */

$secundary-bg: rgb(0,0,0);
$secundary-tx: rgb(255,255,255);


/* Brands Colors */

$brand-color: #ffffff;

$brand-bg: #000000;

$brand-grid: #c64408;


/* SOCIAL COLORS */

$whatsapp: rgb(37, 211, 101);

